$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);

// Screen sizes
$mobile-width: 375px;
$desktop-width: 375px;
$column-height: (667px / 2);

$desktop-column-width: (1440px / 2);


// Font Weights
$font-weights: (
    
    "regular": 300,
    "medium": 500,
    "bold": 700,
);




// Font weight function
