* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  width: 375px;
  height: 667px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

body .navigation-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  background-color: white;
}

/*
***************************************************
MOBILE STYLES
***************************************************
*/
@media only screen and (max-width: 375px) {
  .attribution {
    font-size: 10px;
    text-align: center;
    width: 375px;
    margin-top: 5px;
  }
  .attribution a {
    font-size: 10px;
    color: #3e52a3;
  }
  .navigation-button {
    position: absolute;
    top: 275px;
    left: 150px;
    z-index: 3;
    height: 40px;
    width: 80px;
  }
  .navigation-button .nav {
    width: 10px;
  }
  .background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 667px;
  }
  #top-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50%;
  }
  #top-background #bg-pattern {
    width: 330px;
  }
  #bottom-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
  #bottom-background #bg-quote {
    width: 60px;
    position: absolute;
    top: 20px;
  }
  #bottom-background #bg-curve {
    width: 375px;
    height: 70px;
    position: absolute;
    bottom: 0px;
  }
  .testimonial-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0px;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 375px;
    height: 667px;
  }
  .testimonial-container .column-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .testimonial-container .columns {
    position: relative;
    height: 333.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonial-container .quote {
    position: absolute;
    top: 40px;
    font-weight: 300;
    width: 90%;
    text-align: center;
    line-height: 26px;
    color: #202046;
    margin-bottom: 20px;
  }
  .testimonial-container .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonial-container .name {
    position: absolute;
    top: 210px;
    font-weight: 700;
    color: #202046;
    font-size: 16px;
  }
  .testimonial-container .job-description {
    position: absolute;
    top: 230px;
    color: #babacf;
    font-size: 16px;
  }
  .image {
    width: 69%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 50px 50px -30px #babacf;
            box-shadow: 0px 50px 50px -30px #babacf;
  }
}

/*
***************************************************
DESKTOP STYLES
***************************************************
*/
@media only screen and (min-width: 376px) and (max-width: 1440px) {
  .attribution {
    font-size: 15px;
    text-align: center;
    width: 1440px;
    margin-top: 10px;
  }
  .attribution a {
    color: #3e52a3;
  }
  body {
    font-size: 25px;
    font-weight: 300;
    height: 100vh;
  }
  .background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
    width: 1440px;
  }
  .background .navigation-button {
    position: absolute;
    left: 850px;
    top: 600px;
    z-index: 3;
    height: 50px;
    width: 100px;
  }
  .background #bottom-background {
    position: relative;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 50vw;
  }
  .background #bottom-background #bg-curve {
    position: absolute;
    bottom: 0px;
  }
  .background #bottom-background #bg-quote {
    position: absolute;
    top: 200px;
    left: 320px;
  }
  .background #top-background {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50vw;
  }
  .background #top-background #bg-pattern {
    width: 90%;
  }
  .testimonial-container {
    position: absolute;
    top: 0px;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonial-container .column-container {
    width: 1440px;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .testimonial-container .column-container .columns {
    width: 720px;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonial-container .column-container .top-column {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonial-container .column-container .top-column .image {
    position: relative;
    right: 50px;
    top: 10px;
    width: 70%;
    border-radius: 10px;
    -webkit-box-shadow: -70px 130px 70px -100px #babacf;
            box-shadow: -70px 130px 70px -100px #babacf;
  }
  .testimonial-container .column-container .bottom-column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonial-container .column-container .bottom-column .quote {
    font-size: 32px;
    font-weight: 300;
    position: relative;
    top: 30px;
    width: 88%;
    left: 215px;
    line-height: 42px;
    color: #202046;
  }
  .testimonial-container .column-container .bottom-column .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
    position: relative;
    left: 215px;
  }
  .testimonial-container .column-container .bottom-column .name {
    position: relative;
    top: 30px;
    color: #202046;
    font-size: 20px;
    font-weight: 700;
  }
  .testimonial-container .column-container .bottom-column .job-description {
    position: relative;
    top: 30px;
    color: #babacf;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
  }
}

#card-0 {
  display: inherit;
}

#card-1 {
  display: none;
}
/*# sourceMappingURL=styles.css.map */